<div class = "row">
  <div class = "col-xs-12 col-md-6 col-lg-offset-3">
    <div *ngIf = "error" class = "alert alert-danger">
      <p>{{ error }}</p>
    </div>
    <form #f = ngForm (ngSubmit) = "onSubmit()" *ngIf = "!isLoading">
      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "abv">Title</label>
        <select class = "form-control" id = "abv" name = "abv" ngModel = "Mr."
                required>
          <option value = "Mr.">Mr.</option>
          <option value = "Mrs.">Mrs.</option>
          <option value = "Miss">Miss</option>
        </select>
      </div>
      <div class = "form-group">
        <label for = "email">E-Mail</label>
        <input class = "form-control" email id = "email"
               name = "email" ngModel placeholder = "abc@xyx.com" required
               type = "email">
      </div>
      <div class = "form-group">
        <label for = "password">Password</label>
        <input class = "form-control" id = "password" minlength = "6"
               name = "password" ngModel placeholder = "*******" required
               type = "email">
      </div>
      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "name">Name</label>
        <input class = "form-control" id = "name" name = "name"
               placeholder = "Full Name" required
               type = "text">
      </div>

      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "isAdmin">Admin?</label>
        <input class = "checkbox-inline" id = "isAdmin" name = "isAdmin"
               type = "checkbox">
      </div>

      <div class = "form-group">
        <button [disabled] = "f.invalid"
                class = "btn btn-primary"
                type = "submit">{{ isLoginMode ? "Login" : "Sign-Up" }}</button>
        |
        <button (click) = "onSwitchMode()" class = "btn btn-default"
                type = "button">{{isLoginMode ? "Sign-up" : "Back"}}
        </button>
      </div>
    </form>
  </div>
</div>

