<div class = "container text-center">
  <div class = "btn-group-vertical" style = "margin: 10%">
    <button (click) = "addItem()" color = "primary" mat-raised-button>Add
                                                                      Data
    </button>
    <button (click) = "deleteTable()" color = "accent" mat-raised-button>Delete
                                                                         Table
    </button>
    <button (click) = "query(3)" color = "warn" mat-raised-button>Query
    </button>
  </div>

  <mat-table [dataSource] = "dataSource" class = "mat-elevation-z24">
    <ng-container matColumnDef = "id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef = "name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef = displayed></mat-header-row>
    <mat-row *matRowDef = "let row; columns: displayed;"></mat-row>

  </mat-table>
  <br><br><br>
</div>
