<div [@formLoad] class = "row">
  <div class = "col-xs-12 col-md-6 col-lg-offset-3">
    <hr>
    <div class = "text-center">
      <h3>Leave Application</h3><br>
    </div>
    <form #leaveForm = "ngForm" (ngSubmit) = "onSubmit()">
      <mat-form-field appearance = "outline">
        <mat-label>Start Date</mat-label>
        <input [matDatepicker] = "startDate" matInput name = "startDate" ngModel
               required>
        <mat-datepicker-toggle [for] = "startDate"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <mat-label>End Date</mat-label>
        <input [matDatepicker] = "endDate" matInput name = "endDate" ngModel
               required>
        <mat-datepicker-toggle [for] = "endDate"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <mat-label>Reason</mat-label>
        <mat-select name = "reason" ngModel = "Sick Leave" required>
          <mat-option value = "Sick Leave">Sick Leave</mat-option>
          <mat-option value = "Religious Leave">Religious Leave</mat-option>
          <mat-option value = "Vacation Leave">Vacation Leave</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-action-row>
        <button [disabled] = "!leaveForm.valid" color = "primary"
                mat-raised-button type = "submit">Apply for Leave!
        </button>
      </mat-action-row>
    </form>
    <hr>
  </div>
</div>
<br>
<hr>
<div *ngIf = "leaves" [@tableLoad]>
  <table class = "table-responsive">
    <tr>
      <th class = "col-lg-1 text-center">User Id</th>
      <th class = "col-lg-1 text-center">Start Date</th>
      <th class = "col-lg-1 text-center">End Date</th>
      <th class = "col-lg-1 text-center">Reason</th>
      <th class = "col-lg-1 text-center">Status</th>
      <th class = "col-lg-1 text-center">Leave Id</th>
    </tr>
    <br>
    <tr *ngFor = "let leave of leaves">
      <td class = "col-lg-1 text-center">{{leave.userId}}</td>
      <td class = "col-lg-1 text-center">{{leave.startDate}}</td>
      <td class = "col-lg-1 text-center">{{leave.endDate}}</td>
      <td class = "col-lg-1 text-center">{{leave.reason}}</td>
      <td class = "col-lg-1 text-center">{{leave.status}}</td>
      <td class = "col-lg-1 text-center">{{leave.leaveId}}</td>
    </tr>
  </table>
</div>

