<div class = "row">
  <div class = "col-xs-12 col-md-6 col-lg-offset-3">
    <h1>Welcome to {{ companyName }}</h1>
    <form #f = "ngForm" (ngSubmit) = "onSubmit()">
      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "abv">Title</label>
        <select class = "form-control" id = "abv" name = "abv" ngModel = "Mr."
                required>
          <option value = "Mr.">Mr.</option>
          <option value = "Mrs.">Mrs.</option>
          <option value = "Miss">Miss</option>
        </select>
      </div>
      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "name">Full Name</label>
        <input #name *ngIf = "!isLoginMode" class = "form-control" id = "name"
               name = "name" ngModel placeholder = "Full Name"
               required type = "text">
      </div>
      <div class = "form-group">
        <label for = "email">Email</label>
        <input #email class = "form-control" email id = "email"
               name = "email" ngModel placeholder = "abc@xyz.com"
               required type = "email">
      </div>
      <div class = "form-group">
        <label for = "password">Password</label>
        <input #password class = "form-control" id = "password"
               name = "password"
               ngModel placeholder = "Password" required type = "password">
      </div>
      <div *ngIf = "!isLoginMode" class = "form-group">
        <label for = "isAdmin">Admin User?</label>
        <input #admin class = "checkbox-inline" id = "isAdmin"
               name = "isAdmin" ngModel type = "checkbox">
      </div>
      <div class = "form-group">
        <button (click) = "onSubmit()" class = "btn btn-default"
                type = "submit">
          {{ isLoginMode ? "Login" : "Sign-up" }}</button>
        ||
        <button (click) = "switchModes()" class = "btn btn-default"
                type = "button"> {{ isLoginMode ? "Sign-up" : "Back" }}</button>
      </div>
    </form>
  </div>
</div>
