<div class = "container">
  <br><br>
  <hr>
  <div class = "row">
    <div class = "col-xs-6">
      <button [routerLink] = "['time-req']" class = "btn btn-danger">View
                                                                     Employee
                                                                     Time
                                                                     Sheets
      </button>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class = "col-xs-6">
      <button [routerLink] = "['admin-req']" class = "btn btn-danger">View
                                                                      Employee
                                                                      Admin
                                                                      Requests
      </button>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class = "col-xs-6">
      <button [routerLink] = "['leave-req']" class = "btn btn-danger">View
                                                                      Employee
                                                                      Leave
                                                                      Requests
      </button>
    </div>
  </div>
  <hr>
  <br><br>
  <div class = "row">
    <router-outlet></router-outlet>
  </div>
</div>
