<div style = "background: #d9534f; color: aliceblue;">
  <div class = "btn-toolbar">
    <button class = "btn"
            style = "background: #d9534f; color: aliceblue">LOGO</button>
    <button [routerLink] = "['home']" class = "btn"
            style = "background: #d9534f; color: aliceblue">Home
    </button>
    <button [routerLink] = "['time-sheet']" class = "btn"
            style = "background: #d9534f; color: aliceblue">Time
                                                            Sheet
    </button>
    <button [routerLink] = "['annual-leave']" class = "btn"
            style = "background: #d9534f; color: aliceblue">Annual
                                                            Leave
    </button>
    <button [routerLink] = "['sick-leave']" class = "btn"
            style = "background: #d9534f; color: aliceblue">SickLeave
    </button>
    <button *ngIf = "usersService.isAdmin()" [routerLink] = "['admin']"
            class = "btn" style = "background: #d9534f; color: aliceblue">Admin
    </button>
    <button (click) = "onLogout()" class = "btn"
            style = "background: #d9534f; color: aliceblue">
      Logout
    </button>
  </div>
</div>
