<div [@formLoad] class = "row">
  <div class = "col-xs-12 col-md-6 col-lg-offset-3">
    <hr>
    <div class = "text-center">
      <h3>Submit a time sheet</h3>
      <br>
    </div>
    <form #timeForm = "ngForm" (ngSubmit) = "onSubmit()">
      <mat-form-field appearance = "outline">
        <mat-label>Log Date</mat-label>
        <input [matDatepicker] = "Date" matInput name = "date" ngModel
               required>
        <mat-datepicker-toggle [for] = "Date"
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #Date></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <mat-label>Work</mat-label>
        <input #work [value] = "'Default Work'"
               matInput name = "work" ngModel
               placeholder = "Ex. Excel Worksheet, Mailing, etc."
               required type = "text">
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <mat-label>Start Time</mat-label>
        <input #startTime matInput name = "startTime" ngModel
               required type = "time" value = "13:00">
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <mat-label>End Time</mat-label>
        <input #endTime matInput name = "endTime" ngModel
               required type = "time" value = "13:00">
      </mat-form-field>
      <br>
      <mat-action-row>
        <button [disabled] = "!timeForm.valid" color = "primary"
                mat-raised-button type = "submit">Log Work!
        </button>
      </mat-action-row>
    </form>
    <hr>
  </div>
</div>
<br>
<hr>
<div *ngIf = "timeSheets" [@tableLoad]>
  <table class = "table-responsive">
    <tr>
      <th class = "col-lg-1 text-center">User Id</th>
      <th class = "col-lg-1 text-center">Date</th>
      <th class = "col-lg-1 text-center">Work</th>
      <th class = "col-lg-1 text-center">Start Time</th>
      <th class = "col-lg-1 text-center">End Time</th>
      <th class = "col-lg-1 text-center">Status</th>
      <th class = "col-lg-1 text-center">Time Sheet Id</th>
    </tr>
    <br>
    <tr *ngFor = "let curSheets of timeSheets">
      <td class = "col-lg-1 text-center">{{ userId }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.logDate }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.work }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.startTime }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.endTime }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.status }}</td>
      <td class = "col-lg-1 text-center">{{ curSheets.timeSheetId }}</td>
    </tr>
  </table>
</div>
