<div class = "container">
  <div class = "row">
    <div class = "col-xs-12 col-md-6 col-lg-offset-3 text-center">
      <hr>
      <button [routerLink] = "['/time-sheet']" color = "primary"
              [@rightLoad] mat-stroked-button>
        Time-Sheet
      </button>
      <hr>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-xs-12 col-md-6 col-lg-offset-3 text-center">
      <hr>
      <button [routerLink] = "['/annual-leave']" color = "primary"
              [@leftLoad] mat-stroked-button> Annual Leave
      </button>
      <hr>
    </div>
  </div>
  <br>
  <div *ngIf = "isAdmin" class = "row">
    <div class = "col-xs-12 col-md-6 col-lg-offset-3 text-center">
      <hr>
      <button [@rightLoad]
              [routerLink] = "['/admin']" color = "primary" mat-stroked-button>
        Admin
      </button>
      <hr>
    </div>
  </div>
</div>
