<div class = "container">
  <div class = "row">
    <div class = "col-md-8 col-lg-offset-2">
      <hr>
      <div class = "text-center">
        <button color = "primary"
                mat-stroked-button routerLink = "/admin/time-req"
                routerLinkActive = "active">View
                                            Time-Sheet
                                            Requests
        </button>
        ||
        <button color = "primary"
                mat-stroked-button routerLink = "/admin/leave-req"
                routerLinkActive = "active">View
                                            Leave
                                            Requests
        </button>
        ||
        <button color = "primary"
                mat-stroked-button routerLink = "/admin/admin-req"
                routerLinkActive = "active">View
                                            Admin
                                            Requests
        </button>
      </div>
      <hr>
    </div>
  </div>
  <hr>
  <br><br>
  <div class = "row">
    <div class = "col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
